body{
 background:#93B6FF;
 font-family: 'Helvetica';
}

#title{
 border-left: dotted #FFFFFF;
 border-right: dotted #FFFFFF;
 border-bottom: solid 2px #FFFFFF;
 background: #5F84E8;
}

blockquote{
 background: #69FFF5;
}

span{
 text-align: center;
 background: #FFF942;
}
h1{
 text-align:center;
 font-family: 'Dokdo', cursive;
  text-shadow: 2px 2px #FFFFFF;
}

h3{
 font-family: 'Playball';
}
canvas {
  display: block;
}
